html {
    box-sizing: border-box;
    font-size: 20px;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    src: local("Jost"),
         url("./fonts/Jost-Regular.woff2") format("woff2"),
         url("./fonts/Jost-Regular.woff") format("woff");
}

@font-face {
    font-family: "PlayfairDisplay";
    font-style: normal;
    font-weight: 400;
    src: local("PlayfairDisplay"),
         url("./fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
         url("./fonts/PlayfairDisplay-Regular.woff") format("woff");
}

body {
    font-family: 'Georgia', serif;
    line-height: 1.3;
    color: #000;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

.h2-style {
    font-size: 2rem;
    font-family: 'PlayfairDisplay', Georgia, serif;
    line-height: 1.3;
    text-align: center;
    margin: 0 0 2rem;
}

.button-style {
    display: inline-block;
    font-family: 'Jost', Georgia, serif;
    border: 1px solid #000;
    background: transparent;
    cursor: pointer;
    outline: 1px solid;
    outline-color: #000000;
    outline-offset: 0px;
    text-shadow: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1); 
}

.button-style:hover {
    box-shadow: inset 0 0 .5rem #DADADA;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: .5rem;
}

/*header*/


.header__section {
    max-width: 1920px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 1% 0;
    z-index: 10;
    transition: all 0.3s linear;
}

.header__section--hide {
    background-color: rgba(255, 255, 255, 0.4);
    top: -4rem;
}

.header__section--show {
    display: flex;
}

.header__section--background {
    background: rgba(255, 255, 255, 0.8);
}

.header__logo {
    width: 3rem;
    height: 2rem;
    background: url(./images/logo.png) center / contain no-repeat;
}

.header__button-burger {
    display: none;
}

.nav-button-close {
    display: none;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', sans-serif; 
    color: #fff;
    text-transform: uppercase;
    font-size: .9rem;
}

.nav-list--text-color {
    color: #000;
}

.nav-item {
    display: block; 
    padding-bottom: .2rem;
    background-image: linear-gradient(#fff 50%, #fff 50%), linear-gradient(transparent 50%, transparent 50%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 0 1px, 100% 1px;
    transition: .5s ease-in-out;
}

.nav-item:not(:last-child) {
    margin-right: 1rem;
}

.nav-item:hover {
    background-size: 100% 1px, 100% 1px;
}

.header__button-search {
    width: 1rem;
    height: 1rem;
    background: url(./images/search.svg) center / contain no-repeat;
    border: none;
    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.header__button-search:hover {
    transform: scale(1.1);
}

/*hero-banner*/


.hero-banner__section {
    position: relative;
}

.hero-banner__main-heading-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex; 
    flex-direction: column; 
    align-items:center;
    justify-content:center;
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 3rem;
    line-height: 1.3;
    padding: 8rem 5%;
    margin: auto;
    color: #fff;
}

.hero-banner__main-heading {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 3rem;
    line-height: 1.3;
    margin: auto;
    color: #fff;
    z-index: 2;
}

/*swiper*/

.hero-banner__swiper {
    margin-bottom: 0;
}

.slick-slide img {
    width:100%;
}

.swiper-slide {
    width: 100%; 
}

.hero-banner__swiper-slide {
    height: 100vh;
    min-height: 650px;
    background: transparent center / cover no-repeat;
}

.hero-banner__swiper-slide--1 {
    background-image: url(./images/swiper-1.jpeg);
}

.hero-banner__swiper-slide--2 {
    background-image: url(./images/swiper-2.jpg);
}

.hero-banner__swiper-slide--3 {
    background-image: url(./images/swiper-3.jpg);
}

/*posts__section*/

.news__section {
    padding: 4rem 0;
}

.news__container {
    max-width: 1920px;
    margin: 0 auto;
}

.posts__list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.posts__item {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 31%;
    background: #FFFFFF right / max(7rem) no-repeat;
    margin: 0 auto;
}

.posts__item::after {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 51%, rgba(0,0,0,1) 51%, rgba(0,0,0,1) 100%);
}

.posts__item-heading {
    font-family: 'PlayfairDisplay', Georgia, serif;
    font-size: 1.5rem;
    line-height: 1.3;
}

.posts__item-content {
    font-family: Georgia, serif;
    margin: 0 0 5%;
    font-size: 1rem;
    line-height: 1.3;
}

.posts__item-image {
    position: relative;
    width: 100%;
    margin-bottom: 5%;
}

.posts__item-rubric {
    margin: 0 0 5%;
    font-family: 'PlayfairDisplay', Georgia, serif;
    font-size: 1rem;
    line-height: 1.3;
    text-transform: uppercase;
}

.posts__item-image-link {
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 75%;
}

/*section__subscription*/

.subscription__section {
    position: relative;
}

.subscription__container {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 30%;
}

.subscription__container::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #DEDEDE;
    z-index: -1;
}

.subscription__content-wrapper {
    background-color: #DEDEDE;
}

.subscription__content-wrapper {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 2%;
    padding: 3%;
}

.subscription__input-heading {
    align-self: center;
    font-size: 1rem;
    margin: 0;
}

.subscription__form {
    align-self: center;   
}

.subscription__content-text {
    font-family: 'PlayfairDisplay', Georgia, serif;
    grid-area: 1/1/3/2;
    margin: 0;
    font-size: 2rem;
    line-height: 1.3;
}

.subscription__input-text {
    width: 50%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1rem;
    font-family: Georgia, serif;
}

.subscription__input-text::placeholder {
    color: #000;
    text-transform: uppercase;
    font-size: 1rem;
}

.subscription__input-submit {
    width: 10%;
    background: transparent url(./images/arrow.svg) center /  contain no-repeat;
    border: none;
    transform: translateX(-100%);
}

/*project*/

.project__section {
    padding: 4rem 0;   
}

.project__container {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}

.project__container::before, .project__container::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #000;
}

.project__container::before {
    top: 0;
}

.project__container::after{
    bottom: 0;
}

.project__content-top-part {
    font-family: 'PlayfairDisplay', Georgia, serif;
}

.project__rubrics {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    font-size: 1rem;
    color: #5e5e5e;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.project__main-heading {
    font-size: 2rem;
    line-height: 1.3;
    margin: 0;
}

.project__description {
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: 5%;
}

.project__content-part {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project__image-part {
    width: 66%;
}

.project__image {
    position: relative;
    width: 100%;
}

.project__image-link {
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 75%;
}

/*articles__section*/

.articles__section {
    position: relative;
    padding-right: 30%;
    margin: 2rem 0;
}

.articles__container {
    max-width: 1920px;
    margin: 0 auto;
}

.articles__container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    background-color: #DEDEDE;
    z-index: -1;
}

.articles__content-wrapper {
    background-color: #DEDEDE;
    padding: 2rem;
}

.articles__swiper-tag-container {
    width: 20%;
}

.articles__swiper-tag {
    display: block;
    width: fit-content;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: 0 auto;
    font-family: 'Jost', Georgia, serif;
    font-size: 1rem;
    color: #000;
    transition: all .3s;
}

.articles__swiper-tag:hover {
    background-color: #ebebeb;
}

div.slick-slide.articles__swiper-slide {
    display: flex;
    align-items: flex-start;
    align-items: center;
    gap: 2%;
}

.articles__swiper-list {
    display: flex;
    gap: 2%;
}

.articles__swiper .slick-dots {
    top: -4rem;
    bottom: auto;
    margin: 0;
}

.articles__swiper .slick-dots li {
    width: auto;
    margin: 0 1%;
}

.articles__swiper .slick-dots button {
    display: block;
    width: 6rem;
    height: 4px;
    padding: 0;
    border: none;
    background-color: #DEDEDE;
}

.slick-dots li button:before{
    display: none;
}

.articles__swiper li.slick-active button {
    background-color: #DADADA;
    width: 6rem;
}

.articles__swiper li.slick-active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 4px;
    background: #000;
    animation: slick-line 1s;
}

@keyframes slick-line {
    from {
        width: 0;
    }
    to {
        width: 6rem;
    }
} 

/*popular__section*/

.popular__section {
    padding-bottom: 4rem;
}

.popular__container {
    max-width: 1920px;
    margin: 0 auto;
}

/*order__section*/

.order__section {
    padding: 0 5%
}

.order__container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    background-color: #DEDEDE;
    padding: 2%;
}

.order__text-wrapper {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10%;
}

.order__form {
    width: 66%;
    display: flex;
    align-items: flex-start;
    gap: 5%;
}

.order__text-connect {
    border: none;
    background: transparent;
    font-size: 2rem;
    line-height: 1.3;
    padding: 0;
}

.order__inputs-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25%;
}

.order__input {
    width: 70%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1rem;
    font-family: Georgia, serif;
}

.order__input::placeholder {
    color: #000;
    text-transform: uppercase;
    font-size: 1rem;
}

.order__textarea-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.order__textarea {
    width: 100%;
    font-size: 1rem;
    font-family: Georgia, serif;
    padding: 2% 5%;
    margin-bottom: 5%;
    border: 1px solid #000;
    resize: none;
}

.order__textarea:focus {
    outline: none;
}


/*video__section*/

.video__section {
    padding: 4rem 0;
}

.video__container {
    max-width: 1920px;
    margin: 0 auto;
}

.video__item-rubric {
    text-align: center;
}

.video__item-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.6) url(./images/play.svg) center /  13% no-repeat;
}

.video__item::after {
    display: none;
}

/*events__section*/

.events__section {
    padding: 4rem 0;
}

.events-container {
    max-width: 1920px;
    margin: 0 auto;
}

.events__heading-wrapper {
    position: relative;
}

.events__button-search {
    position: absolute;
    right: 0;
    top: 0;
}

.events__swiper {
    padding-top: 1%;
}

.events__slide {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #DEDEDE right / max(7rem) no-repeat;
    margin: 0 4%;
    padding-bottom: 4%;
}

.events__swiper .slick-prev {
    top: -15%;
    left: 75%;
}

.events__swiper .slick-next {
    top: -15%;
    right: 30%;
}

button.slick-next.slick-arrow:before, button.slick-prev.slick-arrow:before {
    content: '';
}

button.slick-next.slick-arrow {
    transform: rotate(180deg);
}

.events__swiper button.slick-next.slick-arrow, .events__swiper button.slick-prev.slick-arrow {
    min-width: 4rem;
    border: 1px solid #000;
    background: transparent;
    cursor: pointer;
    outline: 1px solid;
    outline-color: #000000;
    outline-offset: 0px;
    text-shadow: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    transition: all .3s;
}

.events__swiper button.slick-next.slick-arrow, .events__swiper button.slick-prev.slick-arrow {
    background: url(./images/arrow.svg) no-repeat center;
}

/*brands__section*/

.brands__container {
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
}

.brands__item-image-link {
    padding-top: 133%;
}

.brands__list {
    margin-bottom: 3%;
}

@media(max-width: 1920px) {

    .header__section, 
    .news__container, 
    .project__container, 
    .articles__container, 
    .popular__container, 
    .video__container, 
    .events-container, 
    .brands__container, 
    .subscribe__section, 
    .publishing-office__section, 
    .edition__section, 
    .socials__section,
    .privacy-policy__section {
        max-width: 100%;
        padding-left: 5%; 
        padding-right: 5%;
    }
}

@media(max-width: 1600px) {
    html {
        font-size: 18px;
    }
}


@media(max-width: 1400px) {

    .header__button-burger {
        display: block;
        width: 2rem;
        height: 2rem;
        background: transparent url(./images/burger.svg) center / contain no-repeat;
        border: none;
    }

    .header__nav-list {
        display: none;
    }
    
    .header__nav-list {
        position: absolute;
        background: #000;
        z-index: 10;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0 5%;
        overflow-x: scroll;
        transition: all .3s;
    }

    .header__nav-list--show {
        display: flex;
    }

    .nav-button-close {
        display: block;
        width: 1.3rem;
        height: 1.3rem;
        background: transparent url(./images/X.svg) center / contain no-repeat;
        border: none;
    }

    .nav-list--text-color {
        color: #fff;
    }

    .posts__list {
        flex-direction: column;
    }

    .posts__item {
        width: 100%;
        margin-bottom: 5%;
    }

    .project__container {
        flex-direction: column;
    }

    .posts__item-image, .project__description, .posts__item-rubric, .posts__item-content, .project__rubrics {
        margin-bottom: 2%;
    }

    .project__image-part, .project__content-part {
        width: 100%;
    }
    
    .project__content-part, .project__image-part {
        margin-bottom: 4%;
    }

    .subscription__input-text {
        width: 80%;
    }

    .subscription__content-text {
        font-size: 1.3rem;
    }

    .articles__swiper .slick-dots {
        top: -5%;
    }

    .articles__swiper .slick-dots li {
        margin: 0 6%;
    }

    .articles__swiper-list {
        flex-direction: column;
    }

    .order__container {
        flex-direction: column;
    }

    .order__text-wrapper {
        width: 100%;
        align-items: center;
        margin-bottom: 4%;
    }

    .order__inputs-wrapper {
        width: 100%;
        align-items: center;
    }

    .order__form {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .order__input {
        margin-bottom: 4%;
    }

    .order__textarea-wrapper {
        width: 70%;
        align-items: center;
    }

    .order__textarea {
        width: 100%;
    }

    .video__item {
        margin-bottom: 5%;
    }

    .video__item::after {
        display: none;
    }

     .video__item-rubric {
        margin-bottom: 1%;
    }

    .events__swiper .slick-prev, .events__swiper .slick-next  {
        top: -11%;
    }
}

@media(max-width: 1200px) {
    html {
        font-size: 16px;
    }

    .events__heading-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 5%;
    }

    .events__button-search {
        position: relative;
    }

    .events__swiper .slick-prev, .events__swiper .slick-next  {
        top: -15%;
    }

    .events__swiper .slick-next {
        right: 65%;
    }

    .events__swiper .slick-prev {
        left: 65%;
    }
}

@media(max-width: 1024px) {

    .subscription__content-wrapper {
        grid-template-columns: 1fr;
        padding: 5%;
    }

    .subscription__input-text {
        width: 80%;
    }

    .subscription__content-text {
        grid-area: auto;
        margin-bottom: 5%;
    }

    .subscription__input-heading {
        margin-bottom: 5%;
    }

    .subscription__input-text {
        width: 70%;
    }

    .order__container {
        padding: 5%;
    }

    .events__button-search {
        position: relative;
    }

    .project__rubrics, .project__main-heading {
        margin-bottom: 1%;
    }

    div.slick-slide.articles__swiper-slide {
        flex-direction: column;
    }

    .articles__swiper-tag-container {
        width: 100%;
        margin-bottom: 5%;
    }

    .articles__swiper-list li:not(:last-child) {
        margin-bottom: 5%;
    }

    .articles__swiper .slick-dots {
        top: -5%;
    }

    .articles__swiper .slick-dots li {
        margin: 0 4%;
    }
}


@media(max-width: 600px) {

    .h2-style {
        font-size: 1.5rem;
    }

    .button-style {
        padding: .5rem 1.5rem;
    }

    .hero-banner__main-heading {
        font-size: 1.3rem;
    }

    .order__text-wrapper {
        gap: 1%;
        margin-bottom: 10%;
    }

    .order__input, .order__textarea {
        margin-bottom: 10%;
    }

    .order__text-connect {
        font-size: 1.3rem;
    }

    .order__textarea-wrapper {
        width: 100%;
    }

    .order__inputs-wrapper {
        margin-bottom: 0;
    }

    .news__section {
        padding: 2% 0 10%;
    }

    .brands__section {
        margin-bottom: 10%;
    }

    .brands__list {
        margin-bottom: 5%;
    }

    .project__section, .events__section, .video__section {
        padding: 2rem 0;
    }

    .project__container {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .project__rubrics {
        margin-bottom: 10%;
    }

    .project__main-heading {
        font-size: 1rem;
        margin-bottom: 10%;
    }

    .project__description {
        font-size: .8rem;
        margin-bottom: 10%;
    }

    .popular__section {
        padding: 10% 0;
    }

    .posts__item:not(:last-child) {
        margin-bottom: 10%;
    }

    .posts__item-image {
        margin-bottom: 5%;
    }

    .posts__item-heading {
        font-size: 1rem;
    }

    .posts__item-rubric, .posts__item-content {
        font-size: .8rem;
        margin-bottom: 6%;
    }

    .articles__swiper-list li:not(:last-child) {
        margin-bottom: 10%;
    }

    .events__swiper .slick-next {
        right: 80%;
    }

    .events__swiper .slick-prev {
        left: 80%;
    }
}
